:root {
  --main-bg-color: #242424;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--main-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f0f1f4;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  .main-card {
    background-color: #f4f5f8;
  }

  .main-card-row-2 {
    background-color: #781fe6;
  }

  .games-category-card {
    background-color: #f4f5f8;
    box-shadow: 1px 1px 1px #cbc9cd5e;
  }

  .search-card {
    background-color: #f8f9fc;
    box-shadow: 1px 1px 1px #cbc9cd5e;
  }

  .search-button {
    background-color: #12151c;
    color: white;
  }

  .toggle-btn-group {
    background-color: #f8f9fc;
    box-shadow: 1px 1px 1px #cbc9cd5e;
  }

  .timer {
    color: #5c14b4;
  }
}

